<?php
/**
 * Created by PhpStorm.
 * User: yaroslav
 * Date: 30.05.16
 * Time: 4:05
 */

$is_shipping_fine = Page::$data['is_shipping_fine'];
unset(Page::$data['is_shipping_fine']);

if( !empty(Page::$data) && is_array(Page::$data)):
        $total_price = 0;
        $total_count = 0;
    ?>
    <table class="table table-striped" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <thead>
        <tr>
            <th><?php _e('Product'); ?></th>
            <th><?php echo __('Costs'), '<span style="color: green"> $</span>'; ?></th>
            <th><?php _e('In cart'); ?></th>
            <th><?php _e('Date of last adding'); ?></th>
            <th><?php _e('Actions'); ?></th>
        </tr>
        </thead>
    <tbody>
        <?php
        foreach(Page::$data as $item):
            $cur_price = $item['product_count'] * $item['product']['price'];
            $total_price += $cur_price;
            $total_count += $item['product_count'];
            ?>
            <tr>
                <td><?php printf('<a href="%s">%s</a>', Urls::getRoute('Products', 'viewDetailed', [ 'id' => $item['product']['id'] ]), $item['product']['name']); ?></td>
                <td><?php echo $cur_price; ?></td>
                <td><?php echo $item['product_count'] ; ?></td>
                <td><?php echo date('H:i', $item['date_time']), ', ', date('j F Y', $item['date_time']); ?></td>
                <td>
                    <a class="btn btn-danger" href="<?php echo Urls::getRoute('Cart', 'delete', ['id' => $item['id']]); ?>">
                        <?php _e('Delete'); ?>
                    </a>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    <tfoot>
        <tr>
            <th><?php _e('Total'); ?></th>
            <th><?php echo $total_price; ?></th>
            <th><?php echo $total_count; ?></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    </table>
    <?php if(!$is_shipping_fine): ?>
        <div class="alert alert-danger" role="alert">
            <?php _e('You have not completed your <b>shipping details</b>, please complete them, and then you will be able to buy our production via PayPal'); ?>
            <a href="<?php echo Urls::getRoute('admin', 'UserAbout'), '#details'; ?>" style="float: right;" class="btn btn-default"><?php _e('Complete details'); ?></a>
            <div class="clearfix"></div>
        </div>
    <?php endif; ?>
    <div id="bottom-actions" class="text-right">
        <a class="btn btn-primary" href="<?php echo Urls::getRoute('Categories') ?>"><?php _e('Go shopping!'); ?></a>
        <a class="paypal-checkout" href="#">
            <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" style="margin-right:7px;" />
            <span style="font-size:20px;" class="glyphicon glyphicon-hand-right"></span>
        </a>
    </div>
<?php else: ?>
    <div class="text-center">
        <h2><?php _e('Cart is empty...'); ?></h2>
        <a class="btn btn-primary btn-lg" style="margin-top:20px;" href="<?php echo Urls::getRoute('Categories') ?>"><?php _e('Go shopping!'); ?></a>
    </div>
<?php endif; ?>