<?php

$isPage = new stdClass;
$isPage->products = false;
$isPage->productsCategories = false;

if(Urls::getControllerName() === 'ManageProducts')
    $isPage->products = true;
if(Urls::getControllerName() === 'ManageProductsCategories')
    $isPage->productsCategories = true;

?>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <?php if(CurrentUser::isAdmin()): ?>
                        <li <?php echo $isPage->products ? 'class="active"' : ''; ?>>
                            <a href="<?= Urls::getRoute('admin', 'ManageProducts') ?>">
                                <span class="glyphicon glyphicon-wrench"></span>
                                <?php _e('Products'); ?>
                            </a>
                        </li>
                        <li <?php echo $isPage->productsCategories ? 'class="active"' : ''; ?>>
                            <a href="<?= Urls::getRoute('admin', 'ManageProductsCategories') ?>">
                                <span class="glyphicon glyphicon-wrench"></span>
                                <?php _e('Products categories'); ?>
                            </a>
                        </li>
                    <?php endif; ?>
                    <li>
                        <a href="<?= Urls::getRoute('default') ?>">
                            <span class="glyphicon glyphicon-hand-left"></span>
                            <?php _e('Go back to site'); ?>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header"><?= Page::$title ?></h1>
                <?php
                Page::renderBody();
                ?>
            </div>
        </div>
    </div>
</div>