<head>
    <title><?php echo __('Admin panel (online shop) - '), Page::$title ?></title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="<?= URL_CSS . 'style.css' ?>">
    <link rel="stylesheet" href="<?= URL_CSS . 'bootstrap.min.css' ?>">
    <link rel="stylesheet" href="<?= URL_CSS . 'bootstrap-theme.min.css' ?>">
    <link rel="stylesheet" href="<?= URL_CSS . 'backend.css' ?>">
    <script>var yyo_admin_url = "<?php echo Urls::getUrlPrefix() . '/yyo-admin'; ?>"</script>
    <script src="<?= URL_JS . 'jquery-2.2.0.min.js' ?>"></script>
    <script src="<?= URL_JS . 'bootstrap.min.js' ?>"></script>
    <script src="<?= URL_JS . 'functions.js' ?>"></script>
    <script src="<?= URL_JS . 'admin.js' ?>"></script>
</head>