<?php

$isPage = new stdClass;
$isPage->main = false;
$isPage->profile = false;

if(Urls::getControllerName() === 'Admin')
    $isPage->main = true;
if(Urls::getControllerName() === 'UserAbout')
    $isPage->profile = true;
?>
<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                    class="navbar-toggle collapsed" type="button">
                <span class="sr-only"><?php _e('Toggle navigation'); ?></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo Urls::getRoute('Cart'); ?>">
                <img class="navbar-logo" alt="<?php _e('Cart'); ?>" src="<?php echo URL_IMG, 'shop_min.png'; ?>">
            </a>
            <div class="hello">
                <span class="glyphicon glyphicon-send"></span><?php echo ' ', __('Hi'), ', ', CurrentUser::getName(); ?>!
            </div>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li <?php echo $isPage->main ? 'class="active"' : ''; ?>>
                    <a href="<?php echo Urls::getRoute('admin', 'Admin'); ?>">
                        <?php _e('Configure panel'); ?>
                    </a>
                </li>
                <li <?php echo $isPage->profile ? 'class="active"' : ''; ?>>
                    <a href="<?php echo Urls::getRoute('admin', 'UserAbout'); ?>">
                        <?php _e('Profile'); ?>
                    </a>
                </li>
                <li class="disabled"><a href="#"><?php _e('Settings'); ?></a></li>
                <li class="disabled"><a href="#"><?php _e('Help'); ?></a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input  type="text" placeholder="<?php _e('Search...'); ?>" disabled class="form-control">
            </form>
        </div>
    </div>
</nav>