<?php
$cat = Page::$data;
$img_url = URL_IMG . 'categories/' . $cat['image'];
?>
<form method="post">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <label for="product_name"><?php _e('Name'); ?></label>
                    <input name="name" type="text" class="form-control" id="product_name"
                           value="<?php echo $cat['name']; ?>" placeholder="<?php _e('Category name'); ?>">
                </div>
                <a target="_blank" href="<?php echo Urls::getRoute('Categories', 'viewDetailed', ['id' => $cat['id']]); ?>">
                    <?php echo Urls::getRoute('Categories', 'viewDetailed', ['id' => $cat['id']]); ?>
                </a>
            </div>
            <div class="panel-body">
                <img class="img-thumbnail img-responsive center-block" src="<?= $img_url ?>">
                <button type="submit" style="width:60%;margin-top:20px;" class="btn btn-primary btn-lg btn-block center-block"><?php _e('Update it'); ?></button>
            </div>
        </div>
    </div>
</form>