<script src="<?= URL_JS . 'tinymce/tinymce.min.js' ?>"></script>
<script>
    $(function(){
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink link image lists charmap print preview'
        });
    });
</script>
<?php
$prod = Page::$data['product'];
$img_url = URL_IMG . 'products/' . $prod['image'];
?>
<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default <?php echo Page::$data['status_class']; ?>">
                <div class="panel-heading">
                    <div class="form-group">
                        <label for="product_name"><?php _e('Name'); ?></label>
                        <input name="name" type="text" class="form-control" id="product_name"
                               value="<?php echo $prod['name']; ?>" placeholder="<?php _e('Product name'); ?>">
                    </div>
                    <a target="_blank" href="<?php echo Urls::getRoute('Products', 'viewDetailed', ['id' => $prod['id']]); ?>">
                        <?php echo Urls::getRoute('Products', 'viewDetailed', ['id' => $prod['id']]); ?>
                    </a>
                </div>
                <div class="panel-body">
                    <label class="sr-only" for="description_area"></label>
                    <textarea rows="10" name="description" id="description_area"><?php echo $prod['description']; ?></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="category_select"><?php _e('Category'); ?></label>
                <select name="category_id" class="form-control" id="category_select">
                    <?php foreach($prod['categories'] as $cat): ?>
                        <option value="<?php echo $cat['id']; ?>"
                        <?php if($prod['category_id'] == $cat['id']) echo 'selected="selected"'; ?>>
                            <?php echo $cat['name']; ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
            <div class="form-group">
                <label for="product_price"><?php _e('Amount (in dollars)'); ?></label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input name="price" type="text" class="form-control" id="product_price"
                           value="<?php echo $prod['price']; ?>" placeholder="<?php _e('Amount'); ?>">
                </div>
            </div>
            <img class="img-thumbnail img-responsive" src="<?php echo $img_url; ?>">
        </div>
        <button type="submit" style="width:60%;" class="btn btn-primary btn-lg btn-block center-block"><?php _e('Update it'); ?></button>
    </div>
</form>