<?php
$user = Page::$data;
?>
<form method="post" role="form" action="">
    <div class="form-group">
        <label for="name"><?php _e('Name'); ?>:</label>
        <input type="text" pattern="[A-Za-z-0-9]{6,40}" value="<?php echo $user['name']; ?>" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="pwd"><?php _e('Password'); ?>:</label>
        <input type="password" pattern="[A-Za-z-0-9\s]{6,20}" class="form-control" name="password" id="pwd">
    </div>
    <div class="form-group">
        <label for="email"><?php _e('E-mail'); ?>:</label>
        <input type="email" class="form-control" name="email" value="<?php echo $user['email']; ?>" id="email">
    </div>
    <div class="form-group">
        <label for="language"><?php _e('Select language'); ?>:</label>
        <select name="language" class="form-control" id="language">
            <?php foreach($user['languages'] as $language):
                    $options = explode('-', $language);
                ?>
                <option value="<?php echo $options[0]; ?>"
                    <?php if($user['user_language'] && $user['user_language'] ===  $options[0]) echo 'selected="selected"'; ?>>
                    <?php echo $options[1]; ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="form-group">
        <h4><?php _e('Your role') ?>: <i><?php echo ucfirst($user['category_name']); ?></i></h4>
    </div>
    <hr class="soften" />
    <h3 id="details"><?php _e('Shipping details'); ?></h3>
    <div class="form-group">
        <label for="shipping_name"><?php _e('Name'); ?>:</label>
        <input type="text" value="<?php echo $user['shipping_name']; ?>" name="shipping_name" class="form-control" id="shipping_name">
    </div>
    <div class="form-group">
        <label for="shipping_street"><?php _e('Street'); ?>:</label>
        <input type="text" value="<?php echo $user['shipping_street']; ?>" name="shipping_street" class="form-control" id="shipping_street">
    </div>
    <div class="form-group">
        <label for="shipping_city"><?php _e('City'); ?>:</label>
        <input type="text" value="<?php echo $user['shipping_city']; ?>" name="shipping_city" class="form-control" id="shipping_city">
    </div>
    <div class="form-group">
        <label for="shipping_state"><?php _e('State'); ?>:</label>
        <input type="text" value="<?php echo $user['shipping_state']; ?>" name="shipping_state" class="form-control" id="shipping_state">
    </div>
    <div class="form-group">
        <label for="shipping_country"><?php _e('Select country'); ?>:</label>
        <select name="shipping_country" class="form-control" id="shipping_country">
            <?php foreach($user['countries'] as $country):
                $options = explode('-', $country);
                ?>
                <option value="<?php echo $options[0]; ?>"
                    <?php if($user['shipping_country'] && $user['shipping_country'] ===  $options[0]) echo 'selected="selected"'; ?>>
                    <?php echo $options[1]; ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="form-group">
        <label for="shipping_zip"><?php _e('Zip code'); ?>:</label>
        <input type="text" value="<?php echo $user['shipping_zip']; ?>" name="shipping_zip" class="form-control" id="shipping_zip">
    </div>
    <div class="form-group">
        <label for="shipping_phone"><?php _e('Phone'); ?>:</label>
        <input type="text" value="<?php echo $user['shipping_phone']; ?>" name="shipping_phone" class="form-control" id="shipping_phone">
    </div>
    <input type="submit" class="btn btn-primary" value="<?php _e('Update'); ?>"/>
</form>