<div class="main-login">
    <form class="login-form" method="post" action="">
        <div class="info-red">
            <?= __("Please create first admin, because database hasn't him") ?>
            <span class="glyphicon glyphicon-warning-sign"></span>
        </div>
        <?php
        $username = isset($_POST['username']) ? $_POST['username'] : '';
        if (!empty(Page::$data['good'])) {
            if (!Page::$data['good']['password-sql'])
                printf('<div class="alert alert-warning"><strong>%s</strong> %s</div>', __('Warning!'), __('Wrong MySQL password!'));
            if (!Page::$data['good']['password'])
                printf('<div class="alert alert-warning"><strong>%s</strong> %s</div>', __('Warning!'), __('Not valid password!'));
            if (!Page::$data['good']['username'])
                printf('<div class="alert alert-warning"><strong>%s</strong> %s</div>', __('Warning!'), __('Not valid username!'));
        }
        ?>
        <div class="form-group">
            <label for="usr"><?= __('Name') ?>:</label>
            <input type="text" required pattern="[A-Za-z-0-9]{6,40}" name="username"
                   value="<?= $username ?>"
                   class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd"><?= __('Password') ?>:</label>
            <input type="password" required pattern="[A-Za-z-0-9\s]{6,20}" name="password" class="form-control"
                   id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd-sql"><?= __('MySQL Password') ?>:</label>
            <input type="password" required name="password-sql" class="form-control" id="pwd-sql">
        </div>
        <input type="submit" class="btn btn-primary" value="<?= __('Create Admin') ?>">
        <div class="clearfix"></div>
    </form>
</div>