<div class="main-login">
    <form class="login-form" method="post" action="">
        <h2 class="text-center"><?= __('Login to online-shop') ?></h2>
        <?php
        $username = isset($_POST['username']) ? $_POST['username'] : '';
        if (!empty(Page::$data['good'])) {
            if (!Page::$data['good']['username'])
                printf('<div class="alert alert-warning"><strong>%s</strong> %s</div>', __('Warning!'), __("User haven't founded with this name!"));
            else
                printf('<div class="alert alert-warning"><strong>%s</strong> %s</div>', __('Warning!'), __('Not right password!'));
        }
        ?>
        <div class="form-group">
            <label for="usr"><?= __('Name') ?>:</label>
            <input type="text" required pattern="[A-Za-z-0-9]{6,40}" value="<?= $username ?>"
                   name="username" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd"><?= __('Password') ?>:</label>
            <input type="password" required pattern="[A-Za-z-0-9\s]{6,20}" name="password" class="form-control"
                   id="pwd">
        </div>
        <a href="<?= Urls::getRoute('Login', 'register') ?>" class="btn btn-info"><?= __('Register') ?></a>
        <input type="submit" class="btn btn-primary" value="<?= __('Login') ?>">
        <div class="clearfix"></div>
    </form>
</div>