<div class="main-login">
    <form class="login-form" method="post" action="">
        <h2 class="text-center"><?= __('Register in online-shop') ?></h2>
        <?php
        $username = isset($_POST['username']) ? $_POST['username'] : '';
        $email = isset($_POST['email']) ? $_POST['email'] : '';
        if (!empty(Page::$data['good'])) {
            if (!Page::$data['good']['password'])
                printf('<div class="alert alert-warning"><strong>%s</strong> %s</div>', __('Warning!'), __('Not valid password!'));
            if (!Page::$data['good']['username'])
                printf('<div class="alert alert-warning"><strong>%s</strong> %s</div>', __('Warning!'), __('Not valid username!'));
        }
        ?>
        <div class="form-group">
            <label for="usr"><?= __('Name') ?>:</label>
            <input type="text" required pattern="[A-Za-z-0-9]{6,40}" name="username" value="<?= $username ?>"
                   class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd"><?= __('Password') ?>:</label>
            <input type="password" required pattern="[A-Za-z-0-9\s]{6,20}" name="password" class="form-control"
                   id="pwd">
        </div>
        <div class="form-group">
            <label for="mail"><?= __('E-mail') ?>:</label>
            <input type="email" name="email" required value="<?= $email ?>"
                   class="form-control" id="mail">
        </div>
        <input type="submit" class="btn btn-primary" value="<?= __('Register') ?>">
        <div class="clearfix"></div>
    </form>
</div>