<script>
    $(function () {
        var visual_table = $('#visual-tooltip');
        visual_table.tooltip();
        visual_table.on('hidden.bs.tooltip', function () {
            visual_table.tooltip('destroy')
        });
    });
</script>
<script src="<?= URL_JS . 'visual-table/visual-changeable.js' ?>"></script>
<button type="button" style="display: none; " id="visual-changeable-button" data-loading-text="Loading..."
        class="btn btn-primary" autocomplete="off">
    Save and close edit form
</button>