<script src="<?= URL_JS . 'visual-table/visual-actionable.js' ?>"></script>
<div id="visual-action-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="visual-action-modal-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="visual-action-modal-label">Delete this row?</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, close it</button>
                <button type="button" id="visual-action-modal-delete" class="btn btn-primary">Delete
                </button>
            </div>
        </div>
    </div>
</div>