body {
    padding-top: 50px;
}

.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.navbar-fixed-top {
    border: 0 none;
}

.sidebar {
    display: none;
}

.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}

.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #428bca;
    color: #fff;
}

.main {
    padding: 20px;
}

.main .page-header {
    margin-top: 0;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    border-radius: 50%;
    display: inline-block;
}

@media (min-width: 768px) {
    .sidebar {
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        bottom: 0;
        display: block;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px;
        position: fixed;
        top: 51px;
        z-index: 1000;
    }

    .main {
        padding-left: 40px;
        padding-right: 40px;
    }
}

footer {
    background-color: transparent;
    text-align: right;
}

@keyframes labels {
    0% {
        bottom: 100px;
        left: 200px;
        width: 300px;
        height: 300px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        left: 0;
        width: 200px;
        height: 200px;
        opacity: 1;
    }
}

.admin-label-animate {
    animation-name: labels;
    animation-duration: 2s;
}

.admin-label {
    cursor: pointer;
    transition-duration: 1s;
    position: relative;
}

.admin-label:hover {
    transition-duration: 0.5s;
    box-shadow: 0 0 25px -10px #0D8FDB;
}

.placeholder > a {
    text-decoration: none;
}

.visual-td-changeable {
    cursor: pointer;
    box-shadow: 0 0 10px -5px cornflowerblue inset;
}

.hello{
    color:white;
    margin-top:15px;
    display:inline-block;
}