html {
    padding: 0;
    margin: 0;
    min-width: 400px;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #333;
}

.frontend-main {
}

.jumbotron {
    text-align: center;
    padding-top: 55px !important;
    padding-bottom: 0 !important;
}

.jumbotron h1 {
    white-space: nowrap;
    overflow: hidden;
    padding: 20px;
    width: 65%;
    margin: 0 auto;
    text-overflow: ellipsis;
}

.navbar-wrapper {
    left: 0;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 20;
    min-width: 400px;
}

.navbar-wrapper .container {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-wrapper .navbar {
    border-radius: 4px;
}

.navbar-wrapper .navbar {
    padding-left: 0;
    padding-right: 0;
}

.carousel-inner > .item > img {
    height: 600px !important;
    min-width: 100%;
}

.carousel-caption img {
    width: auto;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 lightcyan;
}

.carousel-caption p {
    margin-top: 20px;
    font-size: 20px;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing .row {
    padding: 100px 0;
}

footer {
    background-color: #EEEEEE;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}

.container .text-muted {
    margin: 20px 0;
}

.brick {
    background-color: rgba(200, 216, 234, 0.5);
    margin-bottom: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
    border: 1px solid #456a81;
    transition: 0.5s;
}

.brick-categories {
    min-height: 300px;
}

div.categories-name-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}

h3.categories-name {
    line-height: 50px
}

.products-section {
    text-align: center;
}

.brick:hover, .products-section:hover {
    background-color: rgba(0, 0, 0, 0.03);
    transition: 0.5s;
}

.products-section a {
    text-decoration: none !important;
}

.products-section div {
    display: inline-block;
}

.products-section .a-image > div {
    width: 300px;
    height: 250px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.products-section .description {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 600px;
}

.products-section .description-short {
    text-align: center;
    width: 400px;
}

.products-section .description > article {
    color: #5A81B0;
    font-size: 2em;
    cursor: pointer;
    text-decoration: underline;
}

.products-section .description > section {
    font-size: 1em;
}

.products-section .buy {
    vertical-align: middle;
    width: 200px;
}

.products-section .buy-short {
    width: 125px;
    margin: 10px auto;
    display: block;
}

.products-section .buy > span:before {
    content: "$";
    color: #000000;
}

.products-section .buy > span {
    background: #FFF3B5;
    font-size: 1.4em;
    padding: 10px 3px;
    border-radius: 4px;
}

.products-section .buy-short > span {
    display: inline-block;
    width: 100%;
}

.products-section .buy a {
    background: linear-gradient(#72D269, #55C34A);
    border: none;
    color: white;
    font-size: 1.2em;
    border-bottom: 4px solid #3FA135;
    padding: 5px 20px;
    margin: 20px auto 0 auto;
    display: block;
}

.products-section .buy a:hover {
    background: linear-gradient(#72D269, #65CB5B);
    border-bottom: 4px solid lightgreen;
}

.products-section .buy a:active {
    background: linear-gradient(#72D269, #00C200);
    border-bottom: 4px solid green;
}

.products-section .buy-short a {
    display: inline-block;
    margin: 0;
    width: 100%;
}

.navbar-logo {
    width: 50px;
    height: 50px;
    position: relative;
    top: -15px;
    background: rgba(0, 0, 0, 0) url(../images/shop_min.png) no-repeat 50% 50%;
    background-size: contain;
}

.navbar-logo + .badge{
    position: relative;
    left: 25px;
    bottom: 60px;
}

.server-notice-message {
    color: red;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
}

.server-notice-message > [class*='glyphicon'] {
    transition-duration: 0.5s;
}

.server-notice-message > [class*='glyphicon']:hover {
    transform: scaleX(1.5) scaleY(1.5) rotate(360deg);
    transition-duration: 1s;
}

.server-notice-message > a {
    font-size: 15px;
    display: block;
    margin: 10px 0;
}

.about .achiv {
    width: 500px;
    font-size: 25px;
}

.login-form {
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 0 20px -5px rgba(71, 146, 156, 0.5);
    border-radius: 20px;
    padding: 20px;
}

.login-form input[type='submit'] {
    float: right;
}

.login-form h2 {
    margin-bottom: 20px;
    color: forestgreen;
}

.main-login {
    padding-top: 20px;
}

div.info-red {
    position: relative;
    border-left: 2px solid #aa1600;
    font-size: 20px;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 5px 0 0 5px;
}

div.info-red > span[class*='glyphicon-warning-sign'] {
    position: absolute;
    color: #aa1600;
    right: 0;
    opacity: 0.5;
}

.error-debug {
    padding: 20px;
    font-size: 20px;
    color: #b92c28;
    text-align: center;
}

table img.inline-table {
    max-width: 200px;
    margin: 0 auto;
}

#bottom-actions{
    margin-top: 50px;
}

a.paypal-checkout{
    text-decoration: none;
}

.out-of-stock{
    margin:20px;
}

.description + .out-of-stock > span{
    padding: 20px 10px 20px 10px;
    font-size:20px;
}

.out-of-stock > span{
    padding: 5px 10px 5px 10px;
    font-size:20px;
}

hr.soften {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
    border: 0;
}

@media screen and (min-width: 550px) {
    #bottom-actions > a:first-child{
        margin-right:50px;
    }
}

@media screen and (max-width: 1000px) {
    .navbar-logo{
        width:40px;
        height:40px;
        top: -10px;
    }

    .navbar-logo + .badge{
        bottom: 48px;
        left: 20px;
    }
}