<div class="about text-center">
    <div class="achiv center-block alert-info">
        <?php printf( _n( 'Our online-shop has 1 product now!', 'Our online-shop has %s products now!', Page::$data ),  Page::$data  ); ?>
    </div>
    <div class="about-author"></div>
</div>