<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img style="width: 140px; height: 140px;" alt="Discounts for PHP!"
                 src="<?= URL_IMG . 'slides/php-icon.png' ?>" class="img-circle">
            <h2><?= __('For PHP-developers discounts up to') . ' 20%!' ?></h2>
            <p><?= __('Our online store respects the hard work PHP programmers and gives in honor of their web space supremacy
                over all sorts of microsoft scoundrels discounts!') ?></p>
            <p><a role="button" href="#" class="btn btn-default"><?= __('See details') . '»' ?></a></p>
        </div>
        <div class="col-lg-4">
            <img style="width: 140px; height: 140px;" alt="Coffee involved!"
                 src="<?= URL_IMG . 'slides/coffee-icon.png' ?>" class="img-circle">
            <h2><?= __('Time to get involved!') . ' ' . __('Win') . ' $ 2,000!' ?></h2>
            <p><?= __('We know how programmers respected coffee drinks =) So we are looking for among developers, especially the
                Linux sphere, gourmet coffee!') ?></p>
            <p><a role="button" href="#" class="btn btn-default"><?= __('See details') . '»' ?></a></p>
        </div>
        <div class="col-lg-4">
            <img style="width: 140px; height: 140px;" alt="Discounts for MySQl!"
                 src="<?= URL_IMG . 'slides/mysql-ico.png' ?>" class="img-circle">
            <h2><?= __('For MySQL-developers discounts up to') . ' 10%' ?></h2>
            <p><?= __('Data - perhaps most important in contemporary society! Rather, database developers are buying our goods
                and do not regret that fate brought you such wonderful SQL as MySQL.') ?></p>
            <p><a role="button" href="#" class="btn btn-default"><?= __('See details') . '»' ?></a></p>
        </div>
    </div>
</div>