<div id="b404" class="server-notice-message center-block">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <?php echo Page::$title; ?>
    <a href="/"><?php _e('To main page'); ?></a>
</div>