<div class="row">
    <?php
    if (!isset(Page::$data['view'])):
        foreach (Page::$data as $prod):
            $img_url = URL_IMG . 'products/' . $prod['image'];
            ?>
            <div class="col-md-6">
                <section class="products-section brick">
                    <a class="a-image" href="<?php echo Urls::getRoute('Products', 'viewDetailed', ['id' => $prod['id']]); ?>"
                       title="<?php echo $prod['name']; ?>">
                        <div style="background-image:url(<?php echo $img_url; ?>)"></div>
                    </a>
                    <div class="description description-short">
                        <article>
                            <a href="<?php echo Urls::getRoute('Products', 'viewDetailed', ['id' => $prod['id']]); ?>">
                                <?php echo htmlentities($prod['name']); ?>
                            </a>
                        </article>
                    </div>
                    <?php if($prod['in_stock'] > 0): ?>
                        <div class="buy buy-short">
                            <span><?php echo $prod['price']; ?></span>
                            <?php printf('<a href="%s">%s</a>', $prod['add_to_cart'], __('Buy')); ?>
                        </div>
                    <?php else: ?>
                        <br>
                        <div class="out-of-stock">
                            <span class="label label-warning"><?php _e('Out of stock') ?></span>
                        </div>
                    <?php endif; ?>
                </section>
            </div>
            <?php
        endforeach; ?>
        <?php if(empty(Page::$data)): ?>
        <div class="glyphicon glyphicon-hand-right" style="font-size: 20px"><span style="margin-left:20px;"><?php _e('No products in this category'); ?></span></div>
        <?php endif; ?>
    <?php else :
        foreach (Page::$data['list'] as $category):
            $url = Urls::getRoute('Categories', 'viewDetailed', ['id' => $category['id']]);
            ?>
            <div class="brick col-md-3 brick-categories" style="margin:20px; padding-bottom:60px; ">
                <div class="row">
                    <a href="<?php echo $url; ?>">
                        <img class="img-responsive center-block" style="padding: 10px"
                             src="<?php echo URL_IMG . "categories/{$category['image']}"; ?>">
                    </a>
                </div>
                <article class="row text-center">
                    <a href="<?php echo $url; ?>">
                        <div class="categories-name-bottom">
                            <h3 class="categories-name">
                                <?php echo htmlentities($category['name']); ?>
                                <sup><em>(<?php echo $category['count']; ?>)</em></sup>
                            </h3>
                        </div>
                    </a>
                </article>
            </div>
            <?php
        endforeach;
    endif; ?>
</div>
