<?php
$prod = Page::$data;
$img_url = URL_IMG . 'products/' . $prod['image'];
?>
<section class="products-section">
    <a class="a-image" href="<?php echo $img_url; ?>" target="_blank" title="<?php echo $prod['name']; ?>">
        <div style="background-image:url(<?php echo $img_url; ?>)"></div>
    </a>
    <div class="description">
        <article>
            <a href="<?php echo Urls::getRoute('Products', 'viewDetailed', ['id' => $prod['id']]); ?>">
                <?php echo htmlentities($prod['name']); ?>
            </a>
        </article>
        <?php if (isset($prod['description'])): ?>
            <section id="desc"><?php echo $prod['description']; ?></section>
        <?php endif; ?>
    </div>
    <?php if($prod['in_stock'] > 0): ?>
    <div class="buy">
        <span><?php echo $prod['price']; ?></span>
        <?php printf('<a href="%s">%s</a>', $prod['add_to_cart'], __('Buy')); ?>
    </div>
    <?php else: ?>
        <div class="out-of-stock">
            <span class="label label-warning"><?php _e('Out of stock') ?></span>
        </div>
    <?php endif; ?>
</section>