<head>
    <title><?= __('Online Shop') . ' - ' . Page::$title ?></title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="<?= URL_CSS . 'bootstrap.min.css' ?>">
    <link rel="stylesheet" href="<?= URL_CSS . 'bootstrap-theme.min.css' ?>">
    <link rel="stylesheet" href="<?= URL_CSS . 'style.css' ?>">
    <script src="<?= URL_JS . 'jquery-2.2.0.min.js' ?>"></script>
    <script src="<?= URL_JS . 'bootstrap.min.js' ?>"></script>
    <script src="<?= URL_JS . 'functions.js' ?>"></script>
    <script src="<?= URL_JS . 'frontend.js' ?>"></script>
</head>