<?php if ( Urls::isHome() ):
    $back_img = URL_IMG . 'slides/slide0.jpg';
    ?>
    <div id="carousel-home" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home" data-slide-to="1"></li>
            <li data-target="#carousel-home" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="<?= $back_img ?>">
                <div class="carousel-caption">
                    <a href="<?= Urls::getRoute('Categories', 'viewDetailed', ['id' => 1]) ?>">
                        <img src="<?= URL_IMG . 'slides/slide1.jpg' ?>" alt="Go to laptops category..."/>
                    </a>
                    <p><?= __('Cool laptops!') ?></p>
                </div>
            </div>
            <div class="item">
                <img src="<?= $back_img ?>">
                <div class="carousel-caption">
                    <a href="<?= Urls::getRoute('Categories', 'viewDetailed', ['id' => 2]) ?>">
                        <img src="<?= URL_IMG . 'slides/slide2.jpg' ?>" alt="Go to buy hardware production"/>
                    </a>
                    <p><?= __('Strong hardware!') ?></p>
                </div>
            </div>
            <div class="item">
                <img src="<?= $back_img ?>">
                <div class="carousel-caption">
                    <a href="<?= Urls::getRoute('Categories', 'viewDetailed', ['id' => 3]) ?>">
                        <img src="<?= URL_IMG . 'slides/slide3.jpg' ?>" alt="Buy a bug of coffee..."/>
                    </a>
                    <p><?= __('Coffee for programmers!') . '<sub>(' . __('.NET go to the fucking VS') . ')</sub>' ?></p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"><?= __('Before') ?></span>
        </a>
        <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only"><?= __('Next') ?></span>
        </a>
    </div>
<?php else: ?>
    <div class="jumbotron">
        <div class="container">
            <h1><?= Page::$title ?></h1>
        </div>
    </div>
<?php endif; ?>