<?php

$isPage = new stdClass;
$isPage->home = false;
$isPage->shop = false;
$isPage->aboutUs = false;
$isPage->login = false;
$isPage->cart = false;

if(Urls::getControllerName() === 'Home')
    $isPage->home = true;
if(Urls::getControllerName() === 'Categories' || Urls::getControllerName() === 'Products')
    $isPage->shop = true;
if(Urls::getControllerName() === 'AboutUs')
    $isPage->aboutUs = true;
if(Urls::getControllerName() === 'Login')
    $isPage->login = true;
if(Urls::getControllerName() === 'Cart')
    $isPage->cart = true;

?>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-nav">
                        <div <?php echo $isPage->cart ? 'class="active"' : ''; ?>>
                            <a class="navbar-brand" style="border-radius: 4px 0 0 4px" href="<?php echo Urls::getRoute('Cart'); ?>">
                                <img class="navbar-logo" alt="<?php _e('Cart'); ?>" src="<?php echo URL_IMG, 'shop_min.png'; ?>">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" role="menu">
                        <li <?php echo $isPage->home ? 'class="active"' : ''; ?>><a href="/"><?php _e('Home'); ?></a></li>
                        <li <?php echo $isPage->shop ? 'class="active"' : ''; ?> class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="true" href="#"><?php _e('Store'); ?> <span class="caret"></span></a>
                            <ul id="store-menu" class="dropdown-menu">
                                <?php
                                printf("<li><a href='%s'>%s</a></li>", Urls::getRoute('Categories'), __('All categories'));
                                printf("<li><a href='%s'>%s</a></li>", Urls::getRoute('Products'), __('All products'));
                                ?>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <?php

                        printf("<li %s><a href='%s'>%s</a></li>", $isPage->aboutUs ? 'class="active"' : '', Urls::getRoute('AboutUs'), __('About Us'));

                        if (CurrentUser::isLogged() && CurrentUser::isAdmin())
                            printf("<li><a href='%s'>%s</a></li>", Urls::getRoute('admin'), __('Admin Panel'));
                        elseif (CurrentUser::isLogged())
                            printf("<li><a href='%s'>%s</a></li>", Urls::getRoute('admin'), __('Your Profile'));

                        ?>
                        <li <?php echo $isPage->login ? 'class="active"' : ''; ?>>
                            <a href="<?php echo CurrentUser::isLogged() ? Urls::getRoute('Login', 'out') : Urls::getRoute('Login'); ?>">
                                <?php echo CurrentUser::isLogged() ? __('Logout') : __('Login'); ?>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>